html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753;
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h1	{
	font: italic normal 3em georgia, sans-serif;
	text-align: center;
	font-color: #000000;
	}
h2	{
	font: italic normal 2em georgia, sans-serif;
	text-align: center;
	font-color: #000000;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
.page-wrapper { 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	}
.main_content {
	margin-bottom: 40px;
	margin-top: 50px;
	min-height: 70vh;
	overflow-y: scroll;
	}
.div_figure_image {
	position: relative;
	}
.image_figure {
	position: absolute;;
	margin-left: 0;
	}
header {
	padding-top: 20px;
	padding-bottom: 10px;
	background: url(../images/cherry_blossom.jpg) no-repeat;
	}
footer { 
	position: absolute;
	height: 40px;
	bottom: 0;
	}
.sidebar {
	margin-left: 600px;
	position: absolute; 
	top: 240px; 
	right: 0;
	border-style: dotted;
	border-color: #EAD5EE;
	}
.sidebar .aside_wrapper { 
	font: 10px verdana, sans-serif; 
	padding: 10px;
	width: 130px; 
	}
.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em;
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
/* Da se ne vidi scroll */
::-webkit-scrollbar {
    display: none;
}
/* Button your_favourote*/
#tell_us {
	float: right;
	border-color: #EAD5EE;
	font: verdana, sans-serif;
	}
#select_your_fav {
	border-color: #EAD5EE;
	font: verdana, sans-serif;
}
